/*公共样式、样式重置*/

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, 
fieldset, legend, img { margin:0; padding:0; }
img{border:0;}
ul li,ol{ list-style:none;}
a{ text-decoration:none; color:#6c6c6c;}
a:hover{ color:#f22e00;}
input{ outline:none;}
th,i,em,h1,h2,h3,h4,h5,h6,strong { font-style:normal; font-weight:normal; }
body { color:#333;  font: 12px/22px '宋体', Tahoma, Arial; background:#fff;}
table { border-collapse: collapse; border-spacing: 0; }
button { cursor: pointer; }

textarea { word-wrap: break-word; resize: none;}
.clearfix:after{visibility:hidden; clear:both; display:block; 
	content:"."; height:0}
.main{width:1200px;margin: auto;}
/* header */
.header{height: 94px;background: #333;position: relative;font-family: "微软雅黑";}
.header #scr{position: fixed;top: 50%;margin-top: -100px;right: 0px;display: none;
	width: 114px;height: 206px;z-index: 2;cursor: pointer;
	background: url(image/right.png) no-repeat center;}
.header .main .regist{float: left;margin: 5px;}
.header .main .regist li{float: left;color: white;margin: 5px;}
.header .main .regist li a{padding: 5px;}
.header .main .regist li #number{color: #f45;}
.header .main .regist li:first-child:hover a{background: #333;}
.header .main .regist li:hover a{background: #fff;color: #f40;}
.header .main .regist li:hover .cart{display: block;color: #333;z-index: 2;}
.header .main .regist li:hover .bag{display: block;color: #333;z-index: 2;}
.header .main .regist li .cart{width: 300px;height: 65px;background: #fff;
	position: absolute;display: none;}
.header .main .regist li .bag{width: 72px;height: 150px;background: #fff;
	position: absolute;display: none;}
.header .main .regist li .xia{display: inline-block;}
.header .main .regist li .shang{display: none;}
.header .main .regist li:hover .shang{display: inline-block;}
.header .main .regist li:hover .xia{display: none;}

.header .main .regist li .bag ul{margin-left: -5px;}
.header .main .regist li .bag ul li{height: 20px;}
.header .main .logo{position: absolute;top: 10px;left: 50%;margin: 0 0 0 -106px;width: 212px;height: 32px;}
.header .main .fenlei{position: absolute;top: 48px;left: 320px;}
.header .main .fenlei li{float: left; margin: 12px;
	font-size: 15px;}
.header .main a{color: #eee;}
.header .main .fenlei li a{border-bottom: 2px solid #333;padding: 10px;}
.header .main .fenlei li a:hover{border-bottom: 2px solid #aaa;color: #bbb;}
.header .main .search{width: 255px;height: 16px;position: absolute;
	right: 30px;top: 10px;background: #333;border: 1px solid #787878;
	padding: 5px;}
.header .main .search input{width: 230px;height: 16px;font-size: 12px;background: #333;margin-top: 1px;
	border: none;color: #787878;position: absolute;top: 3px;right: 30px;}
.header .main .search a{float: right;}
/*nav*/
.nav{height: 45px;background: #f7f7f7;position: relative;font-family: "微软雅黑";}
.nav .main .item{position: absolute;float: left;left: 320px;top: 0px;
	height: 45px;line-height: 45px;}
.nav .main .item li{float: left;margin-right: 15px;height: 45px;line-height: 45px;}
.nav .main .item li a{padding: 13px 15px;font-size: 14px;color: #000;}
.nav .main .item li:hover{background: #fff;}

.bd,.fz,.xx,.wb,.ps,.zp,.sh,.yt,.hc{background: #fff;font-size: 12px;display: none;
	position: absolute;top: 45px;}

.nav .main .item li .bd{width: 750px;height: 400px;}
.nav .main .item li .fz{width: 750px;height: 600px;}
.nav .main .item li .xx{width: 750px;height: 450px;}
.nav .main .item li .wb{width: 750px;height: 650px;left: 0;}
.nav .main .item li .ps{width: 750px;height: 400px;left: 0;}
.nav .main .item li .zp{width: 750px;height: 590px;left: 0;}
.nav .main .item li .sh{width: 750px;height: 700px;left: 0;}
.nav .main .item li .yt{width: 750px;height: 500px;left: 0;}
.nav .main .item li .hc{width: 750px;height: 380px;left: 0;}
.nav .main .item li:hover .bd{z-index: 2;display: block;}
.nav .main .item li:hover .fz{z-index: 2;display: block;}
.nav .main .item li:hover .xx{z-index: 2;display: block;}
.nav .main .item li:hover .wb{z-index: 2;display: block;}
.nav .main .item li:hover .ps{z-index: 2;display: block;}
.nav .main .item li:hover .zp{z-index: 2;display: block;}
.nav .main .item li:hover .sh{z-index: 2;display: block;}
.nav .main .item li:hover .yt{z-index: 2;display: block;}
.nav .main .item li:hover .hc{z-index: 2;display: block;}
.nav .main .item li ul li a{padding: 0 10px;border-right: 1px solid #a8a8a8;font-size: 12px;}
.nav .main .item li ul li a:hover{color:#f22e00;}
.nav .main .item li h3{margin-left: 10px;}
.nav .main .item li ul li{height: 20px;line-height: 20px;margin: 0;}
.nav .main .item li ul li:last-child a{border-right: none;}
/*banner*/
.banner{height: 610px;margin-top: 22px;}
.banner .main{width: 1200px;height: 610px;position: relative;
	overflow: hidden;}
#list{position: absolute;left: 0;top: 0;}
#list li{float: left;width: 1200px;height: 610px;}

#list2{position: absolute;left: 50%;bottom: 20px;margin-left: -80px;}
#list2 li{float: left;width: 20px;height: 20px;border-radius: 50%;margin: 5px;
	background: #fff;opacity: 0.5;cursor: pointer;}
#list2 li.active{background: black;}
/*blank*/
.blank{height: 111px;background: #fff;font-family: "微软雅黑";}
.blank ul li{float: left;left: 120px;top: 30px;height: 70px;width: 275px;
	position: relative;transition: all 0.5s;}
.blank ul li:first-child{left: 60px}
.blank ul li:nth-child(1):hover{left: 50px}
.blank ul li:hover{transition: all 0.5s;left: 110px}
.blank ul li a span{position: absolute;top: 20px;left: 70px;font-size: 16px;color: #000;}
.blank ul li a span:last-child{position: absolute;top: 40px;left: 70px;font-size: 12px;}
/*尖货推荐*/
.jianhuo{/*background: lightpink;*/}
.jianhuo h1,.rejian h1,.find h1{line-height: 80px;text-align: center;
	font-size: 32px;}
.jianhuo h1{background: url(images/zx_07.jpg) no-repeat center;}
.rejian h1{background: url(images/zx_10.jpg) no-repeat center;}
.find h1{background: url(images/zx_12.jpg) no-repeat center;}

.jianhuo .main ul{width: 1200px;height: 2800px;}
.jianhuo .main ul li{float: left;width: 397px;height: 288px;
	margin-top: 3px;}
.jianhuo .main ul li:nth-child(6n+6){margin-bottom: 42px;}	
.jianhuo .main ul li:nth-child(3n+2){margin-left: 4px;margin-right: 4px;}
.jianhuo .main ul li img{width: 397px;height: 288px;}
.jianhuo .main ul li a:hover{transition: all 0.5s ;opacity:0.7}
.jianhuo .main ul li a{transition: all 0.5s ;}
/*热荐专题*/
.rejian{/*background: navajowhite;*/}
.rejian .main ul{width: 1200px;height: 1000px;}
.rejian .main ul li{float: left;width: 600px;height: 300px;
	margin-bottom: 42px;overflow: hidden;position: relative;
	text-align: center;}
.rejian .main ul li a{display: block;text-align: center;}
.rejian .main ul li a img{transition: all 0.6s linear;}
.rejian .main ul li a:hover img{transform: scale(1.1);transition: all 0.6s linear;}
.rejian .main ul li a:hover p img{transform: scale(1)}
.rejian .main ul li a p img{position: absolute;top: 105px;}
.rejian .main ul li:nth-child(1) a p img{left: 115px;}
.rejian .main ul li:nth-child(2) a p img{left: 115px;}
.rejian .main ul li:nth-child(3) a p img{left: 180px;}
.rejian .main ul li:nth-child(4) a p img{left: 131px;}
.rejian .main ul li:nth-child(5) a p img{left: 100px;}
.rejian .main ul li:nth-child(6) a p img{left: 75px;}
/*haoche*/
.haoche{height: 520px;/*background: lightblue;*/}
.haoche .main p{text-align: center;line-height: 35px;
	padding: 40px;}
.haoche .main p a{border: 1px solid #ccc;border-radius: 20px;
	padding: 10px 30px;font-size: 16px;}
.haoche .main a:first-child{width: 1200px;height: 400px;}
.haoche .main a:hover{transition: all 0.5s;opacity: 0.9;}
.haoche .main a{transition: all 0.5s;}
/*发现好货*/
.find{/*background: pink;*/}
.find .main ul{width: 1200px;height: 2080px;}
.find .main ul li{float: left;width: 285px;height: 490px;
	margin-left: 17px;margin-top: 20px;border: 1px solid #efefef;}
.find .main ul li:nth-child(4n+1){margin-left: 0;}
.find .main ul li img{width: 285px;height: 490px;}
.find .main ul li:hover{border: 1px solid #999;}

.find .main p{text-align: center;line-height: 35px;
	margin-bottom: 50px;}
.find .main p a{border: 1px solid #ccc;border-radius: 20px;
	padding: 10px 30px;font-size: 16px;}
/*footer*/
.footer{height: 192px;background: #f2f2f2;border-top: 3px solid #999;position: relative;font-family: "微软雅黑";}
.footer .main .kefu{position: absolute;top: 20px;left: 30px;font-size: 20px;}
.footer .main .kefu li{height: 50px;line-height: 50px;}
.footer .main .kefu li a{color: #252525;}
.footer .main .zhao{position: absolute;top: 30px;left: 300px;font-size: 14px;}
.footer .main .zhao li{height: 25px;line-height: 25px;}
.footer .main .zhao li a{color: #4c4c4c;}
.footer .main .cen{width: 260px;height: 130px;position: absolute;left: 550px;top: 30px;text-align: center;padding: 10px;}
.footer .main .cen .wx li{float: left;margin: 15px;}
.footer .main .cen .wx li a img{width: 26px;height: 26px;}
.footer .main .cen .wx li a img:first-child{display: inline-block;}
.footer .main .cen .wx li a img:last-child{display: none;}
.footer .main .cen .wx li a:hover img:first-child{display: none;}
.footer .main .cen .wx li a:hover img:last-child{display: inline-block;}
.footer .main .cen .wx{overflow: hidden;}
.footer .main .cen input{padding: 5px;width: 240px;height: 16px;border: 1px solid black;margin: 0px 0px;}
.footer .main .cen .int{width: 260px;height: 30px;position: relative;top: 10px;}
.footer .main .cen .int a{margin: 0px -30px;position: absolute;}
.footer .main .cen h2{text-align: center;font-size: 20px;background:#f2f2f2;z-index: 2;}
.footer .main .cen h2{background: url(images/zx_13.jpg) no-repeat center;}
.footer .main .shao{width: 85px;height: 120px;position: absolute;top: 30px;right: 50px;}
.footer .main .shao a img{width: 80px;height: 80px;}
/*bottom*/
.bottom{height: 208px;background: #fff;position: relative;font-family: "微软雅黑";}
.bottom .main .bo-list li{float: left;margin-top: 20px;text-align: center;}
.bottom .main .bo-list{margin-left: 250px;}
.bottom .main .bo-list li a{padding: 0 10px;border-right: 2px solid #ccc;color: #000;}
.bottom .main .bo-list li a:hover{color:#f22e00;}

.bottom .main .bo-list2{position: absolute;top: 50px;left: 280px;}
.bottom .main .bo-list2 li{float: left;margin-left: 50px;position: relative;width: 150px;}
.bottom .main .bo-list2 li:first-child{margin-left: 80px;}
.bottom .main .bo-list2 li a span{font-size: 24px;font-family: "微软雅黑";color:#4c4c4c;
	font-style: normal;position: absolute;top: 10px;left: 50px;}	
.bottom .main .copy{position: absolute;top: 110px;left: 400px;}
.bottom .main .copy a{font-weight: bold;}
.bottom .main .police{position: absolute;top: 140px;left: 400px;width: 500px;}
.bottom .main .police li{float: left;margin-left: 20px;}















