ul{
    list-style-type: none;
}
.input-form li{
    margin: 5px 0px;
}
.navbar-header{
    width: 180px;
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a{
    color:#f9f9f9;
}
.navbar-inverse{
    background:#46473F;
    position: fixed; z-index: 9999; height: 50px; width: 100%; height: 52px;
}
.container-fluid {
    padding-top: 55px;
}
input[type=file]{
 display: inline !important;

}